.login-form {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
}

.login__header {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 50px;
}

.login__header img {
  width: 250px;
}



.login__header h1 {
  color: #333;
  font-size: 1.5em;
  margin-top: 50px;
}

.login__input {
  border: 2px solid #333;
  border-radius: 8px;
  color: #333;
  font-size: 1em;
  margin-bottom: 15px;
  max-width: 300px;
  outline: none;
  padding: 15px;
  width: 100%;
}

.login__button {
  background-color: #0EBEFF;
  border: 3px solid #3242F7;
  border-radius: 8px;
  color: #fff;
  cursor: pointer;
  font-size: 1em;
  max-width: 300px;
  padding: 15px;
  width: 100%;
}

.login__button:disabled {
  background-color: #eee;
  border: 2px solid #969595;
  color: #aaa;
  cursor: auto;
}

/* Adicione este estilo ao seu arquivo CSS existente ou crie um novo para o tutorial */

.tutorial-section {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); /* Grid com colunas automáticas */
  gap: 20px;
  margin-top: 20px;
  justify-items: center;
  align-items: center;
}

.tutorial__button {
  margin-bottom: 10px;
  max-height: 30%;
  background: #0EBEFF;
  padding: 15px;
  border-radius: 10px;
  border: 3px solid #3242F7;
  color: #fff;

}

.start-gif {
  max-width: 100%;
  grid-column: span 2; /* Ocupar 2 colunas no grid */
}

.tutorial-modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  
  background-color: rgba(0, 0, 0, 0.5);
}

.tutorial-modal iframe {
  width: 80%;
  height: 80%;
  margin: 10% auto;
  display: block;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 20px;
  font-size: 24px;
  color: #fff;
  cursor: pointer;
}
