* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
}
.start-gif {
  max-width: 100%;
  max-height: 60vh; /* Ajuste este valor conforme necessário */
  height: auto;
  width: auto\9; /* Para lidar com problemas no IE9 */
}


.login-form {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.login__header {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 20px; /* Reduzindo a margem para telas menores */
}
.login__header h1 {
  color: #333;
  font-size: 1.5em;
}
.login__input {
  border: 2px solid #333;
  border-radius: 8px;
  color: #333;
  font-size: 1em;
  margin-bottom: 15px;
  max-width: 300px;
  outline: none;
  padding: 15px;
  width: 100%;
}
button {
  background-color: #0EBEFF;
  border: 3px solid #3242F7;
  border-radius: 8px;
  color: #fff;
  cursor: pointer;
  font-size: 1em;
  max-width: 300px;
  padding: 15px;
  width: 100%;
}
.login__button:disabled {
  background-color: #eee;
  border: 2px solid #969595;
  color: #aaa;
  cursor: auto;
}
/* Estilos adicionados para o tutorial */
.tutorial-section {
  margin-top: 20px;
}
.start-gif {
  max-width: 100%;
}
.tutorial-popup-video {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  background: rgba(0, 0, 0, 0.8);
  height: 100%;
  width: 100%;
  display: none;
}
.tutorial-popup-video video {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 80%; /* Alterado para 80% da largura da tela */
  max-width: 750px; /* Largura máxima */
  border-radius: 5px;
  border: 3px solid #fff;
  object-fit: cover;
  transform: translate(-50%, -50%);
}
.tutorial-popup-video span {
  position: absolute;
  top: 5px;
  right: 20px;
  font-size: 50px;
  color: #0EBEFF;
  font-weight: bolder;
  z-index: 100;
  cursor: pointer;
}
@media (max-width: 768px) {
  .login__header {
    margin-bottom: 10px; /* Reduzindo a margem para telas menores */
  }
  .tutorial-popup-video video {
    width: 95%;
  }
}
